*.iml
*.ipr
*.iws
.idea
.idea/*.xml
classes
build
.classpath
.project
.springBeans
.settings
target
*.springBeans
.externalToolBuilders
maven-eclipse.xml
projectFilesBackup
logs
*.log
tomcat