<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
            http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>JCR Console</display-name>
    <distributable/>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>main dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:jcrconsole-context.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>main dispatcher</servlet-name>
        <url-pattern>/gwt-rpc/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>518400</session-timeout>
    </session-config>
</web-app>